
/*=========================================================================*/
/* The Following Section manipulates the Home Page (index.html) */
/*=========================================================================*/

#Home-Page-Body{
  background-image: url("../images/fish.jpg");
}

#Home-Page-Header{
  background-image: url(../images/salmon.png);
  height: 246px;
  width: 787px;
  margin-top: 230px;
  margin-left: 23.5%;
  text-align: center;
  line-height: 246px;
  font-size: 40px;
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#Home-Page-Navigation{
  background-color: white;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 41%;
  width: 200px;
}

#Home-Store-Section{
  display: inline-flex;
  width: 1080px;
}

#Home-Store-Section article{
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  background-color: black;
  color: white;
  width: 200px;
}

#Home-Family-Img{
  margin-left: 22%;
  margin-bottom: 2%;
}



/* Animation Code Taken from */
/* https://stackoverflow.com/questions/22490273/text-blink-from-one-color-to-another-css-or-jquery */
/* https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp */
@keyframes blink {
  0% {color: salmon;}
  25% {color: gold}
  50% {color: hotpink}
  75% {color: coral}
  100% {color: blanchedalmond}
}



/*=========================================================================*/
/* The Following Section manipulates the Sales Page (sales.html) */
/*=========================================================================*/

#Sales-Page-Body{
  background-image: url("../images/frosted-cookie.jpg");
}

#Sales-Page-Header{
  background-image: url("../images/chinook.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  font-size: 80px;
  width: 65%;
  height: 185px;
  margin-left: 17.5%;
  margin-top: 1%;
  text-align: center;
  line-height: 200px;
  color: salmon;
}

#Salmon-Cookies-Sold{
  background-color: white;
  width: 60%;
  margin-top: 5%;
  margin-left: 350px;
  padding: 10px;
}

#Sales-Page-Add-Store-Form{
  background-color: black;
  color: salmon;
  margin-top: 50px;
  display: table-caption;
  margin-left: 360%;
  width: 210px;
  padding: 10px;
  text-align: center;
  height: 300px;
}

#Sales-Page-Add-Store-Form input{
  margin-bottom: 5px;
}

#Sales-Page-Navigation{
  background-color: salmon;
  width: 10%;
  font-size: x-large;
  text-align: center;
  height: 150px;
  line-height: 50px;
  margin-top: 1%;
  margin-left: 45%;
}



/*=========================================================================*/
/* The Following Section manipulates the Stores Page (stores.html) */
/*=========================================================================*/

#Stores-Page-Header{
  font-size: 80px;
  width: 65%;
  height: 185px;
  margin-left: 17.5%;
  margin-top: 1%;
  text-align: center;
  line-height: 200px;
}

#Stores-Page-Family{
  margin-left: 20%;
  margin-bottom: 40px;
}

#Stores-Page-Table{
  margin-bottom: 40px;
}

#Stores-Page-Table td{
  width: 10%;
  border: black;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  padding-top: 10px;
  height: 100px;
}

#Stores-Page-Nav{
  display: flex;
  margin-left: 40%;
}

#Stores-Page-Nav li{
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: lightsalmon;
  border: black;
  border-style: solid;
  border-width: .5px;
}

#Sales-Page-White-Space{
  height: 100px;
}



/*=========================================================================*/
/* The Following Section manipulates the Stores Page (stores.html) */
/*=========================================================================*/

#Merchandise-Page-Header{
  font-size: 80px;
  width: 65%;
  height: 185px;
  margin-left: 17.5%;
  margin-top: 1%;
  text-align: center;
  line-height: 200px;
}

#Merchandise-Page-Construction{
  background-color: black;
  animation-duration: 800ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#Merchandise-Page-Footer{
  height: 246px;
  width: 787px;
  margin-left: 23.5%;
  text-align: center;
  line-height: 246px;
  font-size: 20px;
}